@{
    ViewBag.Title = FinancialControl.App_GlobalResources.st.ResetPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @FinancialControl.App_GlobalResources.st.MessageDisplayReset
    </p>
</div>
	
