@{
    ViewBag.Title = FinancialControl.App_GlobalResources.st.ResetConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @FinancialControl.App_GlobalResources.st.PasswordHasBeenReset @Html.ActionLink(FinancialControl.App_GlobalResources.st.ClickLog, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
